
body{
    margin: 0px;
    text-align: center;
    height: 100vh;
    background-size: 110% auto, cover;
    background-image: url("../bg.png");
    background-repeat: no-repeat;       
    background-size: cover; 
   
}
.main {
    display: flex;
    align-items: flex-start;
    gap: 260px; 
    margin-top: 200px;
    margin-left: 400px;
}
.header-pane h1{
    background-color: white;
    border-bottom:2px solid rgb(37, 1, 54);
    padding: 5px;
    text-align: left;
}
.header-pane h1{ 
    text-align: center;
    font-size: 48x;
    font-family: Georgia;
}
.input button{
    width: 75px;
    height: 75px;
    padding: 0;
    margin: 5px;
    font-size: 30px;
}
.container {
    background-color: white; 
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;  
    box-shadow: 10px 10px rgb(150, 102, 63);
    text-align: center;
}
.input{
    text-align: center;
    
}

button{
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    font-family: Arial;
    border: 2px solid black;
    box-shadow: 5px 5px black;
}
button:hover{
    background-color:rgb(150, 102, 63);
    color: white;
}
#Clear {
    width: 173px; 
    height: 75px; 
    font-size: 30px; 
}
#toggleSign {
  width: 75px;
  height: 75px;
  font-size: 20px;
}
.rightcontainer {
    margin-left: -125px;
}
.rightcontainer button{
    margin-top: 10px;
    width: 300; 
    height: 60px; 
    font-size: 30px; 
    border-radius: 20px;
}
.rightcontainer p input{
    width: 500px; 
    height: 65px;
    font-size: 18px;
    box-sizing: border-box; 
    border-radius: 8px;
    box-shadow: 10px 10px rgb(150, 102, 63);
}
h3{
    margin-bottom: 0px;
    text-align: left;
    font-size: 30px;
    font-family: Georgia;
}